SECRET_KEY=extra secret
HASH_ALGORITHM=SHA-256
MONGO_HOST=127.0.0.1
MONGO_PORT=27017
MONGO_DB=recom_db
MONGO_USER_COLLECTION=profiles
USER_GENRES_CHECK_URL=http://127.0.0.1/auth/v1/genres
URL_MOVIES_BY_GENRES=http://127.0.0.1/api/v1/film
URL_MOVIES_NAME=http://127.0.0.1/api/v1/film/names
GRPC_ADDR=localhost:50051

LOGSTASH_HOST=logstash
LOGSTASH_PORT=5044
