MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DB_NAME=recom_db
MONGO_PROFILES_COLLECTION=profiles

MOVIES_API_HOST=async_api
MOVIES_API_PORT=8000

TRAIN_RETRIEVAL_OUTPUT_DIR=/models/retrieval
TRAIN_RANKING_OUTPUT_DIR=/models/ranking

TF_CPP_MIN_LOG_LEVEL=2